<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.absin.firebasebus">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_candidate4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_candidate4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>


        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <!-- <activity android:name=".GetAlarmInfo"/>

        <activity android:name=".AlarmList"/> -->

        <activity android:name=".MainActivity"
            android:label="메인"/>

        <activity android:name=".search_barJ"
            android:label="검색창 액티비티"/>

        <activity android:name=".memo"
            android:label="메모 액티비티"/>

        <activity
            android:name=".Station_After_Number"
            android:label="버스검색 후 정류장" />

        <activity android:name=".AlarmActivity"
            android:label="알람창시작"/>

        <activity android:name=".Alarm_busActivity"
            android:label="알람에서 버스 찾으러"/>

        <receiver android:name="AlarmReceiver" />
        <receiver android:name=".Recevier2"/>
        <activity android:name=".GetAlarmInfo"/>

        <activity android:name=".DialogActivity"
            android:noHistory="true"/>

        <!--
        <activity android:name=".BusStop_activity"/>-->





        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_push"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!--
           The API key for Google Maps-based APIs is defined as a string resource.
           (See the file "res/values/google_maps_api.xml").
           Note that the API key is linked to the encryption key used to sign the APK.
           You need a different API key for each encryption key, including the release key that is used to
           sign the APK for publishing.
           You can define the keys for the debug and release targets in src/debug/ and src/release/.
      -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAf_iLsCz9K4bhs1naFMhXDZ20FFXorWQg" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>

    </application>

</manifest>